<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings>
      <add key="ADMIN_PATH" value="/" />
      <add key="MEDIA_PATH" value="/wmedia/" />
      <add key="MEDIA_URL" value="http://demo.tbh.vn/wmedia/" />
      <add key="MEDIA" value="http://demo.tbh.vn/media/wmedia/" />
      <add key="CateID" value="1" />
    </appSettings>
    <connectionStrings>
		<add name="BookingConnectionStrings" connectionString="xQDLf5xoicQ18yPXuTfWZyu6AgakEw4O+jFbTqLv3yvnq4Gr9g0lkm6uZtTDBLJLQAcS30aqfEMFYUvwKsBbq/UCxQvZyFsk3QG9yRr5uBA="/>
      <add name="NewsConnectionStrings" connectionString="Oa4QLoCl+Yq0JelxWLPVfnqo/mOQ88nxC6ZZ4RyNJ0w5jvS+Gk1FIyHOoQzbim/5AbeVf0RaodgSUBlFMtIVVLVXUVu7hLORnE1HFB0MzJgenXCuJp4kVK+Vy0/x/UIz"/>
      <add name="SecurityConnectionStrings" connectionString="Oa4QLoCl+Yq0JelxWLPVfnqo/mOQ88nxC6ZZ4RyNJ0w5jvS+Gk1FIyHOoQzbim/5AbeVf0RaodgSUBlFMtIVVLVXUVu7hLORnE1HFB0MzJgenXCuJp4kVK+Vy0/x/UIz"/>
    </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="FreeTextBoxControls" assembly="FreeTextBox" tagPrefix="FTB" />
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      </controls>
    </pages>
    <httpModules>
    </httpModules>
    <httpRuntime maxRequestLength="20480" requestValidationMode="2.0" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>